<div class="card bg-dark text-white">
  <div class="card-body">
    <h1>About Us</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem
      laudantium eaque</p>
    <hr class="my-4" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga
      dignissimos dolore necessitatibus maxime velit corporis possimus. Minima
      repellendus id eaque, reiciendis odit quisquam adipisci doloremque tempore
      numquam sed ratione.</p>
    <a href="" class="btn btn-primary">https://www.google.com</a>
  </div>
</div>