<div class="card bg-dark text-white">
  <div class="card-body">
    <h1>App NodeJS and MongoDB</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem
      laudantium eaque dolor, consequuntur blanditiis ab magnam accusantium
      cupiditate culpa vitae consectetur facilis autem. Ullam eos doloribus
      quasi provident ad.</p>
    <hr class="my-4" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga
      dignissimos dolore necessitatibus maxime velit corporis possimus. Minima
      repellendus id eaque, reiciendis odit quisquam adipisci doloremque tempore
      numquam sed ratione.</p>
    <a href="" class="btn btn-light">https://www.google.com</a>
  </div>
</div>